<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une communication</title>
</head>
<body>
    <h1>Modifier une communication</h1>
    <form th:action="@{/updateCommunication}" th:object="${communication}" method="post">
		<input type="hidden" id="idcommunication" th:field="*{idcommunication}" />
        <div class="form-group">
            <label for="acteur">Acteur:</label>
            <input type="text" class="form-control" id="acteur" th:field="*{acteur}" required>
        </div>
        <div class="form-group">
            <label for="avis_personnel">Avis Personnel:</label>
            <textarea class="form-control" id="avis_personnel" th:field="*{avis_personnel}" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
    <br>
    <a href="com/CommunicationPage" class="btn btn-secondary">Retour à la liste des communications</a>
</body>
</html>